fastapi
uvicorn
python-multipart
langchain>=0.2.0
langchain-core>=0.2.0
langchain-pinecone>=0.1.1
pinecone-client>=4.0.0
langchain-groq
langchain-text-splitters
langchain-google-genai
langgraph
pdfplumber
pymongo[srv]
python-dotenv
pydantic
fpdf2